doc/*.aux
doc/*.log
doc/*.out
doc/*.synctex.gz
doc/*.toc
doc/*.fls
doc/*.fdb_latexmk
doc/*.bbl
doc/*.blg

doc/chapters/*.aux

.vscode/settings.json
lib/junit-platform-console-standalone-1.11.3.jar

project/compiled/project/*.class
project/compiled/project/classes/*.class
project/compiled/project/debug/*.class
project/compiled/project/preprocessing/*.class